//- page-a.pug
extends base.pug

block style 
  style
    include ../static/style.css
    include ../static/contact.css
block content 
  div.container 
    h2 Contact Us
    form(action=APP_URL_PATH+"/contact" method="post" class='myform') 
      input(type="text" name="name" class="myinput" placeholder="Enter Your Name ")
      input(type="phone" name="phone" class="myinput" placeholder="Enter Your Phone number ")
      input(type="email" name="email" class="myinput" placeholder="Enter Your Email ID ")
      input(type="address" name="address" class="myinput" placeholder="Enter Your Address ")
      input(type="text" name="desc" class="myinput" placeholder="Enter Your Concern ")
      button(class="mysubmit")
        | Submit