//- page-a.pug
extends base.pug

block style 
  style
    include ../static/style.css

block content
  section#introSection 
      div#large Welcome to Vibhu's Dance Academy 
      div.small Live Learn dance Repeat 
      div.small Eat Sleep Dance Pepeat

  section#missionSection 
      h2 Our mission
      div.card 
          h3 Dance Perfection
          div.card-box 
              div.card-img 
                  img(src="/static/1.png")
              div.card-content 
                  p This is the best dance academy of the universe
      div.card
          h3 Dance like
          div.card-box 
              div.card-img 
                  img(src="/static/2.png")
              div.card-content 
                  p This is the best dance academy of the universe
      div.card
          h3 Expert Teaching
          div.card-box 
              div.card-img 
                  img(src="/static/3.png")
              div.card-content 
                  p This is the best dance academy of the universe
  section#sponsersSection 
      h2 Our Sponser
      div#sponsers
          img(src="/static/sponser1.png" alt="apple")
          img(src="/static/sponser2.png" alt="apple")
          img(src="/static/sponser3.png" alt="apple")
